

.startButton{
  text-align: center;
  padding:20px;
}
.row-container{

height: 100px;


  #first-color{

    background-color: blue;

  }

  #second-color{

    background-color: black;
  }

  #third-color{

    background-color: green;
  }

  #fourth-color{

    background-color: yellow;
  }
}
